.card
  .card-header
    .fa.fa-user
    = link_to user.email, user_path(user)
  .card-footer
    Products created:
    = user.products_count
    .row
    Referrals:
    = user.orders_count
  .card-footer
    - user.roles.each do |role|
      .badge.bg-info
        = role.name
    - if policy(user).edit?
      = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning'
      = link_to "Delete", admin_destroy_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'