.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-user-edit
          My info
      .card-body
        = simple_form_for @user, url: vendor_info_update_user_path(@user) do |f|
          = f.input :vendor_title, :label => 'Company name (required)'
          %p
          = f.input :return_url, :label => "Return policy url (if no return policy is provided it will default to 'no refunds or returns')"
          %p
          = f.label 'Customer support (at least one required)'
          %hr
          = f.input :support_email, :label => 'Customer support email'
          %p
          = f.input :support_phone, :label => 'Customer support phone'
          %p
          = f.input :support_url, :label => 'Customer support url'
          %hr
          = f.button :submit, 'Update'