- content_for :title do
  About us
  \-
  Afillio

.row.justify-content-center
  .col-md-10
    %h1
      About us
    .img-max
      = image_tag("burlington-vermont.jpeg", alt: "Burlington, Vermont", class: 'img-fluid')
    %p
    Afillio is an affiliate marketing business based in Burlington, Vermont. 
    %hr
    %b Our goal is to make affiliate marketing as simple as possible.
    %br
    = link_to 'How it works', support_index_path
    %hr
    %i "Vendor" refers to the person listing their products on Afillio
    %br
    %i "Seller" refers to the person selling Vendors' products on Afillio
    %hr
    %h3
      Why become a Vendor?
    Afillio allows for extensive advertisement and direct to consumer sales with no overhead cost. 
    If you have a smaller business, this allows you to get your foot in the door and start building a community around your brand without 
    paying expensive advertising fees. If you have a larger business with an existing community, you can also benefit from allowing people who are passionate 
    about your products to sell them and make commission.
    %br
    - if current_user
      = link_to 'Become a Vendor', vendor_info_user_path(current_user)
    - else
      = link_to 'Become a Vendor', new_user_session_path
    %p
    %h3
      Why become a Seller?
    Afillio makes affiliate marketing as simple as possible in order to make it accessible to the average person. 
    No longer does one need to go through extensive sign up processes or have thousands of followers to successfully affiliate market. 
    Simply, sign up on Afillio and start selling products you are passionate about to friends, family, and more.
    %br
    = link_to 'How it works', support_index_path
    %p
    %h3
      Our team
    William Suratt