.card 
  .bg-light
    .p-3 
      .rounded-lg 
        .display-1{:style => "font-weight: bold;"}
          What do you want to sell today?
    
        .p-4
        
        = search_form_for @ransack_products, as: :products_search, url: products_path do |f|
          .input-group
            = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 165px; ', placeholder: 'Search', :autocomplete => :off
            %span.input-group-append
              %button.btn.btn-primary.btn-sm{"aria-label" => "search", :type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        .float-end
          = link_to 'How it works', how_it_works_path
        .p-2

%p
- if current_user && @sold_products.size > 0
  %hr
  %h2
    .fa.fa-tags
    Your recent sales
  .row.row-cols-1.row-cols-2.row-cols-lg-3.row-cols-lg-4.g-4
    - @sold_products.each do |product|
      .col
        = render 'products/product', product: product

%hr
%h2
  .fa.fa-chart-line
  Popular products
.row.row-cols-1.row-cols-2.row-cols-lg-3.row-cols-lg-4.g-4
  - @popular.each do |product|
    .col
      = render 'products/product', product: product

%hr
%h2 
  .fa.fa-clock
  Latest products
.row.row-cols-1.row-cols-2.row-cols-lg-3.row-cols-lg-4.g-4
  - @latest.each do |product|
    .col
      = render 'products/product', product: product
%hr