.jumbotron
  .display-4
    What do you want to sell today?

  .p-4
  
  .form-inline.my-2.my-lg-0
    = form_tag(products_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
  .float-right
    = link_to 'How it works', how_it_works_path

%hr
%h2
  Popular products
.card-columns
  - @products.each do |product|
    = render 'products/product', product: product

%hr
%h2 
  Latest products
.card-columns
  - @latest_products.each do |product|
    = render 'products/product', product: product

%hr