.card 
  .bg-light
    .p-3 
      .rounded-lg 
        .display-1{:style => "font-weight: bold;"}
          What do you want to sell today?
    
        .p-4
        
        = search_form_for @ransack_products, as: :products_search, url: products_path do |f|
          .input-group
            = f.search_field :title_or_description_or_user_vendor_title_cont, class: 'form-control-sm border border-dark', style: 'float: left; width: 165px; ', placeholder: 'Search', :autocomplete => :off
            %span.input-group-append
              %button.btn-primary.btn-sm{"aria-label" => "search", :type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        .float-end
          = link_to 'How it works', support_index_path
        .p-2

%p
- if current_user
  - if current_user.has_role?(:seller) && @recent_sales.size > 0
    %hr
    %h2
      .fa.fa-tags
      Your recent sales
    %p
    .row.row-cols-1.row-cols-1.row-cols-lg-3.row-cols-lg-4.g-4
      - @recent_sales.each do |product|
        .col.desktop
          = render 'products/product', product: product
        .col.mobile
          = render 'products/mobile_product', product: product

%hr
%h2
  .fa.fa-chart-line
  Popular products
%p
.row.row-cols-1.row-cols-1.row-cols-lg-3.row-cols-lg-4.g-4
  - @popular.each do |product|
    .col.desktop
      = render 'products/product', product: product
    .col.mobile
      = render 'products/mobile_product', product: product

%hr
%h2 
  .fa.fa-clock
  Latest products
%p
.row.row-cols-1.row-cols-1.row-cols-lg-3.row-cols-lg-4.g-4
  - @latest.each do |product|
    .col.desktop
      = render 'products/product', product: product
    .col.mobile
      = render 'products/mobile_product', product: product
%hr