.container
  = simple_form_for(@order, url: @user.referral_token) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  
    .form-inputs
      = f.association :product, as: :hidden
      = f.association :user, as: :hidden
      = f.input :quantity, input_html: { value: 1 }
      %p
      = f.input :street_address, :label => 'Address'
      %p
      // = f.input :street_address2, :label => 'Address 2'
      %p
      = f.input :city
      %p
      = f.input :state
      %p
      = f.input :zipcode
      %p
      = f.input :first_name
      %p
      = f.input :last_name
      %p
      = f.input :phone
      %p
      = f.input :email
      %p
  
    .form-actions
      = f.button :submit, 'Next'
