.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-box
          Editing order
      .card-body
        = simple_form_for @order do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        
          .form-inputs
            = f.association :product, as: :hidden
            = f.association :user, as: :hidden
            = f.input :quantity
            // = f.input :total, readonly: true, input_html: { value: @product.price * :quantity }
            = f.input :street_address
            = f.input :city
            = f.input :state
            = f.input :zipcode
            = f.input :first_name
            = f.input :last_name
            = f.input :phone
            = f.input :email
            %p
        
          .form-actions
            = f.button :submit, 'Update'
      .card-footer
        = link_to 'Back', @order
