.text-center
  %h2
    Orders
    .badge.bg-danger
      = @pagy.count
  %p
    %h6
      Balance
    %h4
      = number_to_currency(current_user.balance_cents)
        
    - if current_user.stripe_user_id
      = link_to 'Connected with Stripe', 'https://connect.stripe.com', target: :_blank
      %p
      - if current_user.balance_cents.to_i > 0
        %p
          = link_to "Payout", payout_transfer_path, class: 'btn btn-sm btn-success'
    - else
      = link_to image_tag("stripe_button.svg", :size => "240x160"), stripe_button_link
  
    = search_form_for @q, url: @ransack_path do |f|
      - if current_user.has_role?(:admin)
        = f.check_box :paid_true
        = f.label 'paid'
        %p
      = f.search_field :product_title_cont, placeholder: 'product title'
      = f.submit
    = link_to 'refresh', @ransack_path

.table-responsive
  %table.table.table-bordered.table-striped.table-sm.table-hover
    %thead
      %tr
        %th
          = sort_link(@q, :created_at, "Order Date")
        %th Product Title
        %th Quantity
        %th Total
        %th Shipping
        %th Contact
        %th Referred By
        %th Seller Earned
        %th You Earned
        %th
        
    %tbody
      - @orders.each do |order|
        - if current_user.has_role?(:admin)
          %tr
            %td= order.created_at.to_date
            %td= order.product
            %td= order.quantity
            %td= number_to_currency(order.total_cents)
            %td
              = order.first_name + ' ' + order.last_name 
              %br
              = order.street_address
              %br
              = order.city + ', ' + order.state + ' ' + order.zipcode
            %td 
              = number_to_phone(order.phone)
              %br
              = order.email
            %td= order.user
            %td= order.seller_commission_cents
            %td= order.vendor_commission_cents
            %td
              = link_to 'Show', order
              %p
              = link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }
        - else
          - if order.paid
            %tr
              %td= order.created_at.to_date
              %td= order.product
              %td= order.user
              %td= order.quantity
              %td= number_to_currency(order.total_cents)
              %td
                = order.street_address
                %p
                = order.city
              %td= order.street_address
              %td= order.city
              %td= order.state
              %td= order.zipcode
              %td= order.first_name
              %td= order.last_name
              %td= order.phone
              %td= order.email
              %td= order.seller_commission_cents
              %td= order.vendor_commission_cents
              %td
                = link_to 'Show', order
                %p
                = link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }
!= pagy_bootstrap_nav(@pagy)
%br
