-# - meta_tag :description, "Click to order a #{@product.title} today and enjoy fast, free shipping." @post.description
-# - meta_tag :keywords, @post.keywords.join(',')

- content_for :title do
  New order
  \-
  Afillio

-if !current_user
  -if @product.quantity > 0
    .row.justify-content-center
      .col-md-6
        .card
          .card-header
            %h3
              .fa.fa-box
              New order
          .card-body
            .row.row-cols-1
              .col
                = render 'products/product', product: @product
                %p
                .text-center.text-secondary
                  Free shipping
              .col
                %hr
                %p
                %button.btn.d-flex.justify-content-between.w-100{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-bs-target" => "#collapseExample", "data-bs-toggle" => "collapse", :type => "button"}
                  %b Description
                  .my-auto
                    .fa.fa-chevron-down
                #collapseExample.collapse
                  %br
                  = @product.description
                  %p
                  Sold by: 
                  = @product.user.vendor_title
                  %br
                  Return policy: 
                  = @product.user.return_url.blank? ? 'No refunds or returns.' : @product.user.return_url
                %hr
  
          .card-body
            // .text-center
            //   %button.btn.btn-primary.w-75.text-center.mb-4{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-bs-target" => "#collapseBuyNow", "data-bs-toggle" => "collapse", :type => "button"}
            //     Buy Now
            // #collapseBuyNow.collapse
            //   %p
            = render 'form'
            
  -else
    .text-center
      %p
      %h3.text-danger
        Out of Stock
-else
  .text-center
    %p
    %h3.text-danger
      Seller's cannot place orders from themselves.
