- content_for :title do
  New order
  \-
  Afillio

-if !current_user
  -if @product.quantity > 0
    .row.justify-content-center
      .col-md-6
        .card
          .card-header
            %h3
              .fa.fa-box
              New order
          .card-body
            .row.row-cols-1
              .col
                = render 'products/product', product: @product
              .col
                %hr
                %b Description
                %br
                = @product.description
                %p
                Sold by: 
                = @product.user.vendor_title
                %br
                Return policy: 
                = @product.user.return_url.blank? ? 'No refunds or returns.' : @product.user.return_url
                %hr
        
          .card-body
            = render 'form'
            
  -else
    .text-center
      %p
      %h3.text-danger
        Out of Stock
-else
  .text-center
    %p
    %h3.text-danger
      Seller's cannot place orders from themselves.