- content_for :title do
  Order
  = @order.slug
  \-
  Afillio

%p#notice= notice
.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-box
          Order
          = @order.slug
      .card-footer
        %p
          %b Product:
          = @order.product
        - if current_user
          %p
            %b Referred by:
            = @order.user
        %p
          %b Price:
          = number_to_currency(@order.product.price_cents)
        %p
          %b Quantity:
          = @order.quantity
        %p
          %b Transaction fee:
          = number_to_currency(Order.stripe_fee)
        %p
          %b Total:
          = number_to_currency(@order.total_cents)
      .card-body
        .row
          .col-12
            %h5 Address
          .col-12.mt-2
            = @order.first_name
            = @order.last_name
          .col-12.mt-2
            = @order.street_address
          - if !@order.street_address2.blank?
            .col-12.mt-2
              = @order.street_address2
          .col-12.mt-2
            #{@order.city},
            = @order.state
          .col-12.mt-2
            = @order.zipcode
  
        .row.mt-4
          .col-12
            %h5 Contact Information
          .col-12.mt-2
            = @order.phone
          .col-12.mt-2
            = @order.email
  
      - if current_user
        .card-footer
          = link_to 'Back', :back
      - elsif !@order.paid
        .card-footer
          .text-center
            = button_to "Checkout", checkout_create_path, params: {id: @order.id}, remote: true, class: 'order-btn'
            %p
            = link_to 'Edit', edit_order_path(@order)
            
