- content_for :title do
  Order
  = @order.slug
  \-
  Afillio

%p#notice= notice
.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-box
          Order
      .card-footer
        %p
          %b Product:
          = @order.product
        %p
          %b Referred by:
          = @order.user
        %p
          %b Price:
          = number_to_currency(@order.product.price_cents)
        %p
          %b Quantity:
          = @order.quantity
        %p
          %b Transaction fee:
          = number_to_currency(Order.STRIPE_FEE)
        %p
          %b Total:
          = number_to_currency(@order.total_cents)
      .card-body
        %p
          %b Address:
          = @order.street_address
        - if !@order.street_address2.blank?
          %p
            %b Address 2:
            = @order.street_address2
        %p
          %b City:
          = @order.city
        %p
          %b State:
          = @order.state
        %p
          %b Zipcode:
          = @order.zipcode
        %p
          %b First name:
          = @order.first_name
        %p
          %b Last name:
          = @order.last_name
        %p
          %b Phone:
          = @order.phone
        %p
          %b Email:
          = @order.email
          
      - if current_user
        .card-footer
          = link_to 'Back', :back
      - elsif !@order.paid
        .card-footer
          = link_to 'Edit', edit_order_path(@order)
          .text-center
            = button_to "Checkout", checkout_create_path, params: {id: @order.id}, remote: true, class: 'btn btn-sm btn-success'
            
