<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @order.first_name %>, thank you for your order!</p>
    <p>Order summary:</p>
    <p>
      Product: <%= @order.product.title %><br>
      Sold by: <%= @order.product.user.vendor_title %><br>
      Price: <%= number_to_currency(@order.product.price_cents) %><br>
      Quantity: <%= @order.quantity %><br>
      Total: <%= number_to_currency(@order.total_cents) %>
    </p>
    <br/>
    <p>Shipping info:</p>
      <%= @order.first_name %> <%= @order.last_name %><br>
      <%= @order.street_address %><br>
      <%= @order.city %>, <%= @order.state %> <%= @order.zipcode %><br>
      <%= number_to_phone(@order.phone) %>
    </p>
    <br/>
    <p>Customer support:</p>
      Email: <%= @order.product.user.support_email %><br>
      Phone: <%= @order.product.user.support_phone %><br>
      Link: <%= @order.product.user.support_url %>
    </p>
    <br/>
    <p>Return policy:</p>
    <p><%= @order.product.user.return_url.blank? ? 'No refunds or returns.' : @order.product.user.return_url %></p>
  </body>
</html>