%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Order details:
      %br
      --------------------------
      %br
        %b Product title:
        = @order.product.title
      %p
        %b Referred by:
        = @order.user
      %p
        %b Quantity:
        = @order.quantity
      %p
        %b Total:
        = number_to_currency(@order.total_cents)
      Shipping info:
      %br
      --------------------------
      %p
        %b Street address:
        = @order.street_address
      %p
        %b City:
        = @order.city
      %p
        %b State:
        = @order.state
      %p
        %b Zipcode:
        = @order.zipcode
      %p
        %b First name:
        = @order.first_name
      %p
        %b Last name:
        = @order.last_name
      %p
        %b Phone:
        = @order.phone
      %p
        %b Email:
        = @order.email