!!!
%html
  %head
    %title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    :css
      body,
      table,
      td,
      a {
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
      }

      table,
      td {
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
      }

      img {
          -ms-interpolation-mode: bicubic;
      }

      img {
          border: 0;
          height: auto;
          line-height: 100%;
          outline: none;
          text-decoration: none;
      }

      table {
          border-collapse: collapse !important;
      }

      body {
          height: 100% !important;
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
      }

      a[x-apple-data-detectors] {
          color: inherit !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }

      @media screen and (max-width: 480px) {
          .mobile-hide {
              display: none !important;
          }

          .mobile-center {
              text-align: center !important;
          }
      }

      div[style*="margin: 16px 0;"] {
          margin: 0 !important;
      }
  %body{:bgcolor => "#eeeeee", :style => "margin: 0 !important; padding: 0 !important; background-color: #eeeeee;"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :bgcolor => "#eeeeee", :style => "background-color: #eeeeee;"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:600px;", :width => "100%"}
            %tr
              %td{:align => "center", :bgcolor => "#90D4A2", :style => "font-size:0; padding: 35px;", :valign => "top"}
            %tr
              %td{:align => "center", :bgcolor => "#ffffff", :style => "padding: 35px 35px 20px 35px; background-color: #ffffff;"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:600px;", :width => "100%"}
                  %tr
                    %td{:align => "center", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 15px;"}
                      %i.far.fa-check-square
                      %br/
                      %h2{:style => "font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;"} Your order has shipped!
                  %tr
                    %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 10px;"}
                      %p{:style => "font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;"}
                        Your order is on the way. The tracking number for your order is #{@order.tracking_number}.
                      %p{:style => "font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;"}
                        Track package: #{link_to 'https://track.aftership.com/trackings?courier=&language=en&tracking-numbers=' + @order.tracking_number, 'https://track.aftership.com/trackings?courier=&language=en&tracking-numbers=' + @order.tracking_number}
                  %tr
                    %td{:align => "left", :style => "padding-top: 20px;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:align => "left", :bgcolor => "#eeeeee", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;", :width => "75%"} Items in this order
                          %td{:align => "left", :bgcolor => "#eeeeee", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;", :width => "25%"}
                            Order ID #{@order.slug}
                        %tr
                          %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;", :width => "75%"}
                            = @order.product.title
                  %tr
                    %td{:align => "left", :style => "padding-top: 20px;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; #eeeeee;", :width => "75%"}
            %tr
              %td{:align => "center", :bgcolor => "#ffffff", :height => "100%", :style => "padding: 0 35px 35px 35px; background-color: #ffffff;", :valign => "top", :width => "100%"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:660px;", :width => "100%"}
                  %tr
                    %td{:align => "center", :style => "font-size:0;", :valign => "top"}
                      %div{:style => "display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;"}
                        %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:300px;", :width => "100%"}
                          %tr
                            %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;", :valign => "top"}
                              %p{:style => "font-weight: 800;"} Shipping Information
                              %p
                                = @order.first_name
                                = @order.last_name
                                %br/
                                = @order.street_address
                                %br/
                                - if !@order.street_address2.blank?
                                  = @order.street_address2
                                  %br/
                                = @order.city
                                , #{@order.state}#{@order.zipcode}
                      %div{:style => "display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;"}
                        %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:300px;", :width => "100%"}
                          %tr
                            %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;", :valign => "top"}
                              %p{:style => "font-weight: 800;"} Customer Support
                              %p
                                = @order.product.user.support_email
                                %br/
                                = @order.product.user.support_phone
                                %br/
                                = @order.product.user.support_url
                      %div{:style => "display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;"}
                        %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:300px;", :width => "100%"}
                          %tr
                            %td{:align => "left", :style => "font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;", :valign => "top"}
                              %p{:style => "font-weight: 800;"} Return Policy
                              %p= @order.product.user.return_url.blank? ? 'No refunds or returns.' : @order.product.user.return_url