.container
  = simple_form_for(@product) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  
    .form-inputs
      = f.input :title
      
      = f.label :image
      .row
      - if @product.image.attached?
        = image_tag @product.image, width: "200px"
      .row
        = @product.image.filename
      .row
      = f.file_field :image
      %small= f.error :image, class: 'text-danger'

      .row
      = f.input :description
      /= f.input :category, collection: [ "Other", "Tech", "Apparel"]
      = f.input :category, collection: Product.categories, include_blank: true
      = f.input :quantity
      = f.input :price_cents, :label => "Price"
      = f.input :commission_cents, :label => "Commission"
      %p
  
    .form-actions
      = f.button :submit
