.container
  = simple_form_for(@product) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  
    .form-inputs
      = f.input :title
      %p
      = f.label :images
      .row
      // .row
      // - if @product.images.attached?
      //   - @product.images.each do |image|
      //     = image_tag image, width: "200px"
      //     .row
      //     = image.filename
      // .row
      = f.file_field :images, multiple: true
      %small= f.full_error :images, class: 'text-danger'
      .row
      = f.file_field :images, multiple: true
      %small= f.full_error :images, class: 'text-danger'

      .row
      %p
      = f.label :description
      = f.rich_text_area :description
      %small= f.full_error :description, class: 'text-danger'
      %p
      = f.input :category, collection: Product.categories, include_blank: true
      %p
      = f.input :quantity
      %p
      = f.input :price_cents, label: "Price"
      %i Note: Afillio takes a 3% platform fee out of all sales
      %p
      = f.input :commission_cents, label: "Commission"
      %p
      = f.label "Show in store"
      = f.check_box :show
      %p
  
    .form-actions
      = f.button :submit
