.container
  = simple_form_for(@product) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  
    .form-inputs
      = f.input :title
      = f.input :description
      = f.input :category, collection: [ "Other", "Tech", "Apparel"]
      = f.input :quantity
      = f.input :price
      = f.input :commission
  
    .form-actions
      = f.button :submit
