.card.h-100
  .card-header
    .fa.fa-shopping-bag
    = link_to product.title, product_path(product)
  .card-footer.h-100
    .text-center
      - if product.image.attached?
        .card-img-top
          = image_tag product.image, alt: product.title + " image", height: "100%", width: "100%"
      %hr
      Price:
      = number_to_currency(product.price_cents)
      .row
      Commission:
      = number_to_currency(product.commission_cents)
  - if current_user
    - if policy(product).edit?
      .card-footer
        = link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-warning'
        = link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'