%article.text-center.rounded
  .position-relative
    - if products_page?
      %a.stretched-link{:href => product_path(product)}
      - if product.images.attached?
        .mobile-img-container.mx-auto.mb-4
          .img-item
            = image_tag product.images.first(), alt: product.title + " image", class: "mobile-img"
    -else
      - if product.images.attached?
        #carouselProductImages.carousel.carousel-dark.slide{"data-bs-interval" => "false", "data-bs-ride" => "carousel"}
          .carousel-inner
            .img-container.mx-auto.mb-4
              - product.images.each do |image|
                - if image.eql? product.images.first()
                  .carousel-item.img-item.active
                    = image_tag image, alt: product.title + " image", class: "product-img"
                - else
                  .carousel-item.img-item
                    = image_tag image, alt: product.title + " image", class: "product-img"
          %button.carousel-control-prev.w-10{"data-bs-slide" => "prev", "data-bs-target" => "#carouselProductImages", :type => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.visually-hidden Previous
          %button.carousel-control-next.w-10{"data-bs-slide" => "next", "data-bs-target" => "#carouselProductImages", :type => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.visually-hidden Next
    - if products_page?
      %h6
        = truncate(product.title, length:80)
    -else
      %h5
        %b
          = product.title
    %span.d-block
      .text-center
        .fa.fa-star.text-warning
        .fa.fa-star.text-warning
        .fa.fa-star.text-warning
        .fa.fa-star.text-warning
        .fa.fa-star-half-alt.fa-sm.text-warning
      - if !request.path_info.include?('landing')
        Price:
        = number_to_currency(product.price_cents)
      - else
        %del.text-muted.d-inline
          = number_to_currency(product.price_cents*2.001)
        .text-danger.d-inline
          &nbsp;
          = number_to_currency(product.price_cents)
          (ON SALE)
    - if !request.path_info.include?('orders/new') && !request.path_info.include?('landing')
      %span.d-block
        Commission:
        = number_to_currency(product.commission_cents)
  - if current_user
    - if policy(product).edit?
      %span.d-block.mt-2
        = link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-warning text-white'
        = link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
