.card.d-flex.h-100
  - if !current_page?(product_path(product))
    %a.stretched-link{:href => product_path(product)}
  .card-header
    .fa.fa-shopping-bag
    = link_to product.title, product_path(product)
  .card-footer.align-items-center.d-flex.justify-content-center.h-100
    .text-center
      - if product.image.attached?
        .card-img-top
          = image_tag product.image, alt: product.title + " image", height: "100%", width: "100%"
  .card-footer
    .text-center
      Price:
      = number_to_currency(product.price_cents)
      .row
      - if !request.path_info.include?('orders/new')
        Commission:
        = number_to_currency(product.commission_cents)
  - if current_user
    - if policy(product).edit?
      .card-footer
        = link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-warning'
        = link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'