- content_for :title do
  Products
  \-
  Afillio

%h2
  .text-center
    Products
    .badge.bg-danger
      = @pagy.count
%p
- if current_user
  - if current_user.has_role?(:vendor) and current_page?(created_products_path)
    .text-center
      Share your products:
      %br
      .col-md-3.mx-auto
        .input-group.justify-content-center.flex-nowrap
          %input#myInput{:type => "text", :value => request.base_url + "/products?products_search%5Buser_vendor_title_cont%5D=" + URI.encode(current_user.vendor_title)}/
          .input-group-append
            %button{:class => "ms-1 btn btn-sm btn-custom", :onclick => "myFunction()"}
              Copy
    :javascript
      function myFunction() {
        var copyText = document.getElementById("myInput");
      
        copyText.select();
        copyText.setSelectionRange(0, 99999);
      
        document.execCommand("copy");
      
        // alert("Copied the text: " + copyText.value);
      }
    %p

.row
  .col-md-2
    = search_form_for @ransack_products, as: :products_search, url: @ransack_path do |f|
      Search
      = f.search_field :title_or_description_or_user_vendor_title_cont, placeholder: 'Search', class: 'form-control form-control-sm'
      // = f.search_field :user_vendor_title_cont, placeholder: 'Company', class: 'form-control form-control-sm'
      = f.label :category
      .row
      = f.select :category_cont, Product.categories, include_blank: true
      .row
      // = f.label :price
      // = f.search_field :price_eq, placeholder: 'Price', class: 'form-control form-control-sm'
      // = f.label :commission
      // = f.search_field :commission_eq, placeholder: 'Commission', class: 'form-control form-control-sm'
      // = f.label :vendor
      // = f.search_field :user_email_cont, placeholder: 'Email', class: 'form-control form-control-sm'
      Sort by
      .pt-2.px-2
        .row.align-items-start
          .col.bg-gray
            = sort_link(@ransack_products, :price)
          .col.bg-gray
            = sort_link(@ransack_products, :commission)
          .col.bg-gray
            = sort_link(@ransack_products, :orders_count, "Popular")
          .col.bg-gray
            = sort_link(@ransack_products, :created_at, "New")
      %p
      .row
      .pt-0
        - if current_page?(created_products_path)
          = f.check_box :show_true
          = f.label 'Shown in store'
      .row
      .pt-2
        = f.submit
      .row
      .pt-2.pb-3
        = link_to 'refresh', @ransack_path


  .col-md-10
    .row.row-cols-1.row-cols-2.row-cols-lg-3.g-4
      - @products.each do |product|
        .col
          = render 'products/product', product: product
    %p
    != pagy_bootstrap_nav(@pagy)
%br
