- content_for :title do
  = @product.title
  \-
  Afillio

.row.justify-content-center
  .col-md-6.h-25
    .row.row-cols-1
      .col
        = render 'products/product', product: @product
        .text-center.text-secondary
          Free shipping
      .col
        -if !current_user
          -if @product.quantity > 0
            .card-body
              .text-center
                = link_to 'Buy Now!', new_user_session_path, class: 'buy-btn'
          -else
            .text-center
              %p
              %h3.text-danger
                Out of Stock
      .col
        %hr
        %p
        %b
          = @product.description
        %p
        Sold by: 
        = @product.user.vendor_title
        %br
        Return policy: 
        = @product.user.return_url.blank? ? 'No refunds or returns.' : @product.user.return_url
