- content_for :title do
  = @product.title
  \-
  Afillio

.row.justify-content-center
  .col-md-6.h-25
    = link_to 'Products', products_path
    \/
    = link_to @product.title, product_path(@product)
    %p
  
    .row.row-cols-1
      .col
        = render 'products/product', product: @product
        %hr
      .col.mt-2
        %b Description
        %br
        = @product.description
        %p
        Sold by: 
        = @product.user.vendor_title
        %br
        Return policy: 
        = @product.user.return_url.blank? ? 'No refunds or returns.' : @product.user.return_url
        %hr

    -if current_user
      - if @product.quantity > 0 and current_user.has_role?(:seller)
        .text-center
          %p
          %h4
            Share QR code or link below:
          %p
          = @svg.html_safe
        %p
        .col-md-3.mx-auto.pb-5
          .input-group.justify-content-center.flex-nowrap
            %input#myInput{:type => "text", :value => request.base_url + "/orders/new/" + @product.slug + "/" + @user.referral_token}/
            .input-group-append
              %button{:class => "ms-1 btn btn-sm btn-custom", :onclick => "myFunction()"}
                Copy
        :javascript
          function myFunction() {
            var copyText = document.getElementById("myInput");
          
            copyText.select();
            copyText.setSelectionRange(0, 99999);
          
            document.execCommand("copy");
          
            // alert("Copied the text: " + copyText.value);
          }
      - elsif @product.quantity <= 0
        .text-center.pb-5
          %p
          %h3.text-danger
            Out of Stock
      - else
    -else
      .text-center.pb-5
        %p
        %h4
          Want to sell this item?
        %p
        = link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-custom'
        or
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-custom'