- content_for :title do
  = @product.title
  \-
  Afillio

.row.justify-content-center
  .col-md-6.h-25
    // = link_to 'Products', products_path
    // \/
    // = link_to @product.title, product_path(@product)
    // %p
  
    .row.row-cols-1
      .col
        = render 'products/product', product: @product
        %p
        .text-center.text-secondary
          Free shipping
      .col
        %hr
        %p
        %button.btn.d-flex.justify-content-between.w-100{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-bs-target" => "#collapseExample", "data-bs-toggle" => "collapse", :type => "button"}
          %b Description
          .my-auto
            .fa.fa-chevron-down
        #collapseExample.collapse
          %br
          = @product.description
          %p
          Sold by: 
          = @product.user.vendor_title
          %br
          Return policy: 
          = @product.user.return_url.blank? ? 'No refunds or returns.' : @product.user.return_url
        %hr

    -if current_user
      - if @product.quantity > 0 and current_user.has_role?(:seller)
        .text-center
          %h3
            Marketing Content
          %p
          - if @product.videos.attached?
            - @product.videos.each do |video|
              .vid-container.mx-auto
                = video_tag url_for(video)+"#t=0.001", alt: @product.title + " video", controls: true, preload: "metadata", class: "product-vid"
              %p
              = link_to rails_blob_path(video, disposition: 'attachment'), class: "download-btn" do
                .fa.fa-download
                Download
          %p
          %h4.mt-5
            Share link below:
          // %p
          // = @svg.html_safe
        %p
        .col-md-3.mx-auto
          .input-group.justify-content-center.flex-nowrap
            %input#myInput{:type => "text", :value => request.base_url + "/orders/new/" + @product.slug + "/" + @user.referral_token}/
            .input-group-append
              %button{:class => "ms-1 btn btn-sm btn-custom", :onclick => "myFunction()"}
                Copy
        :javascript
          function myFunction() {
            var copyText = document.getElementById("myInput");
          
            copyText.select();
            copyText.setSelectionRange(0, 99999);
          
            document.execCommand("copy");
          
            // alert("Copied the text: " + copyText.value);
          }
      - elsif @product.quantity <= 0
        .text-center
          %p
          %h3.text-danger
            Out of Stock
      - else
    -else
      .text-center
        %p
        %h4
          Want to sell this item?
        %p
        = button_to 'Log in', new_user_session_path, class: 'show-btn'
        %p
        = button_to 'Sign up', new_user_registration_path, class: 'show-btn'