#sidebar-wrapper.bg-white.flex-shrink-0.mt-4
  .list-group.desktop
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(support_index_path)}", :href => support_index_path} How it works
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(sign_up_support_index_path)}", :href => sign_up_support_index_path} Sign up
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(become_vendor_support_index_path)}", :href => become_vendor_support_index_path} Become a Vendor
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(withdraw_balance_support_index_path)}", :href => withdraw_balance_support_index_path} Withdraw account balance
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(sell_product_support_index_path)}", :href => sell_product_support_index_path} Sell a product
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(connect_stripe_support_index_path)}", :href => connect_stripe_support_index_path} Connect with Stripe
    // %a.support-link.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(refunds_and_returns_support_index_path)}", :href => refunds_and_returns_support_index_path} Refunds and returns
    %a.support-link.mobile-hover-disabled.list-group-item.list-group-item-action.list-group-item-white.p-3{class: "#{'bg-light text-support' if current_page?(other_support_index_path)}", :href => other_support_index_path} Other
    
  .dropdown.mobile
    %a#dropdownMenuLink.btn.btn-white.support-link.border-gray.dropdown-toggle.w-100{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
      Support options
    %ul.dropdown-menu.border.border-top-0.border-dark.border-2.w-100{"aria-labelledby" => "dropdownMenuLink"}
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => support_index_path} How it works
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => sign_up_support_index_path} Sign up
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => become_vendor_support_index_path} Become a Vendor
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => withdraw_balance_support_index_path} Withdraw account balance
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => sell_product_support_index_path} Sell a product
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => connect_stripe_support_index_path} Connect with Stripe
      // %li
      //   %hr.dropdown-divider/
      // %li
      //   %a.dropdown-item{:href => refunds_and_returns_support_index_path} Refunds and returns
      %li
        %hr.dropdown-divider/
      %li.p-1
        %a.support-link.text-support.dropdown-item{:href => other_support_index_path} Other