.container-fluid
  %h2.pb-3.border-bottom For Affiliates
  .desktop
    .row.g-4.py-4.row-cols-1.row-cols-lg-4
      .col.d-flex.align-items-start
        = image_tag("findproduct.png", alt: "Find product", class: 'img-fluid')
      .col.d-flex.align-items-start
        = image_tag("marketingcontent.png", alt: "Find product", class: 'img-fluid') 
      .col.d-flex.align-items-start
        = image_tag("makesale.png", alt: "Find product", class: 'img-fluid') 
      .col.d-flex.align-items-start
        = image_tag("commission.png", alt: "Find product", class: 'img-fluid')
  .mobile.py-4
    #carouselProductImages.carousel.carousel-dark.slide{"data-bs-interval" => "false", "data-bs-ride" => "carousel"}
      .carousel-inner
        .carousel-item.active
          .d-flex.justify-content-center
            = image_tag("findproduct.png", alt: "Find product", class: 'carousel-img')
        .carousel-item
          .d-flex.justify-content-center
            = image_tag("marketingcontent.png", alt: "Find product", class: 'carousel-img')
        .carousel-item
          .d-flex.justify-content-center
            = image_tag("makesale.png", alt: "Find product", class: 'carousel-img')
        .carousel-item
          .d-flex.justify-content-center
            = image_tag("commission.png", alt: "Find product", class: 'carousel-img')
      %button.carousel-control-prev.w-10{"data-bs-slide" => "prev", "data-bs-target" => "#carouselProductImages", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next.w-10{"data-bs-slide" => "next", "data-bs-target" => "#carouselProductImages", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

  - if current_user
    = link_to 'Get started as an Affiliate', products_path
  - else
    = link_to 'Get started as an Affiliate', new_user_registration_path

  %h2.pb-3.pt-4.mt-4.border-bottom For Vendors
  .row.g-4.py-4.row-cols-1.row-cols-lg-4
    .col.d-flex.align-items-start
      .fa.fa-user-plus.fa-2x.pe-2
      %div
        %h3.fs-2 Sign up
        %p Your account will be set as an Affiliate by default.
        
    .col.d-flex.align-items-start
      .fa.fa-book.fa-2x.pe-2
      %div
        %h3.fs-2 Complete form
        %p Submit the linked vendor form, enter necessary information, and wait for approval.
        
    .col.d-flex.align-items-start
      .fa.fa-shopping-bag.fa-2x.pe-2
      %div
        %h3.fs-2 List products
        %p List your chosen products on Afillio.
        
    .col.d-flex.align-items-start
      .fa.fa-comment.fa-2x.pe-2
      %div
        %h3.fs-2 Advertise
        %p Interested Affiliates will market your product.
  - if current_user
    = link_to 'Get started as a Vendor', vendor_info_user_path(current_user)
  - else
    = link_to 'Get started as a Vendor', become_vendor_support_index_path
