%footer.footer.bg-dark.text-white
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        William Suratt
        .row
        .fa.fa-envelope
        = mail_to 'support@afillio.com'
        .row
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        = link_to 'Terms and conditions', terms_conditions_path
      .col-md-4
        = link_to 'About us', about_us_path
        .row
        = link_to 'Become a vendor', become_vendor_path
%br 