%nav.navbar.navbar-expand-lg.navbar-dark{:style => "background-color:#90d4a2;"} 
  .container-fluid
    %a.navbar-brand{:style => "font-weight:bold;", :href => "/"} Afillio
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      - if current_user
        %ul.navbar-nav.me-auto
          // %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          //   = link_to root_path, class: 'nav-link' do
          //     .fa.fa-home
          //     Home
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(products_path)}"}
            = link_to products_path, class: 'nav-link' do
              .fa.fa-shopping-bag
              Products
          - if current_user.has_role?(:seller)
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(my_sales_orders_path)}"}
              = link_to my_sales_orders_path, class: "nav-link" do
                .fa.fa-tags
                My sales
                .badge.bg-danger
                  = Order.where(orders: {user: current_user}, paid: true).count
        %ul.navbar-nav.me-auto
          - if current_user.has_role?(:vendor)
            %li.nav-item.dropdown
              %a#vendorDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-store
                Vend
              .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "vendorDropdown"}
                = link_to new_product_path, class: "dropdown-item" do
                  .fa.fa-plus
                  New product
                = link_to created_products_path, class: "dropdown-item" do
                  .fa.fa-shopping-bag
                  My products
                  .badge.bg-danger
                    = current_user.products.count
                = link_to my_orders_orders_path, class: "dropdown-item" do
                  .fa.fa-box
                  My orders
                  .badge.bg-danger
                    = Order.joins(:product).where(products: {user: current_user}, paid: true).count
                = link_to users_vendor_info_path(current_user), class: "dropdown-item" do
                  .fa.fa-user-edit
                  My info
          - if current_user.has_role?(:admin)
            %li.nav-item.dropdown
              %a#adminDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-cog
                Admin
              .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "adminDropdown"}
                = link_to users_path, class: "dropdown-item" do
                  .fa.fa-users
                  Users
                  .badge.bg-danger
                    = User.count
                = link_to orders_path, class: "dropdown-item" do
                  .fa.fa-box
                  Orders
                  .badge.bg-danger
                    = Order.count
        %ul.navbar-nav.me-end
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              %b= current_user.username
            .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdown"}
              = link_to edit_user_registration_path, class: "dropdown-item" do
                .fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                .fa.fa-sign-out-alt
                %b Sign out
      - else
        %ul.navbar-nav
          %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'