%nav.navbar.navbar-expand-lg.navbar-dark{:style => "background-color:#90d4a2;"} 
  %a.navbar-brand{:style => "font-weight:bold;", :href => "/"} Afillio
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to root_path, class: 'nav-link' do
            .fa.fa-home
            Home
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(products_path)}"}
          = link_to products_path, class: 'nav-link' do
            .fa.fa-shopping-bag
            Products
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(my_sales_orders_path)}"}
          = link_to my_sales_orders_path, class: "nav-link" do
            .fa.fa-tags
            My sales
            .badge.badge-danger
              = Order.where(orders: {user: current_user}).count
      %ul.navbar-nav.mr-auto
        // - if current_user.has_role?(:seller)
        //   %li.nav-item.dropdown
        //     %a#sellerDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        //       .fa.fa-tag
        //       Sell
        //     .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "sellerDropdown"}
        //       = link_to my_sales_orders_path, class: "dropdown-item" do
        //         .fa.fa-tags
        //         My sales
        //         .badge.badge-danger
        //           = Order.where(orders: {user: current_user}).count
        - if current_user.has_role?(:vendor)
          %li.nav-item.dropdown
            %a#vendorDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-store
              Vend
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "vendorDropdown"}
              = link_to new_product_path, class: "dropdown-item" do
                .fa.fa-plus
                New Product
              = link_to created_products_path, class: "dropdown-item" do
                .fa.fa-shopping-bag
                My products
                .badge.badge-danger
                  = current_user.products.count
              = link_to my_orders_orders_path, class: "dropdown-item" do
                .fa.fa-box
                My orders
                .badge.badge-danger
                  = Order.joins(:product).where(products: {user: current_user}).count
        - if current_user.has_role?(:admin)
          %li.nav-item.dropdown
            %a#adminDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-cog
              Admin
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "adminDropdown"}
              = link_to users_path, class: "dropdown-item" do
                .fa.fa-users
                Users
                .badge.badge-danger
                  = User.count
              = link_to orders_path, class: "dropdown-item" do
                .fa.fa-box
                Orders
                .badge.badge-danger
                  = Order.count
      %ul.navbar-nav.mr-right
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %b= current_user.username
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to edit_user_registration_path, class: "dropdown-item" do
              .fa.fa-cog
              %b Account settings
            = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
              .fa.fa-sign-out-alt
              %b Sign out
    - else
      %ul.navbar-nav
        %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'