!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "easy money online, earn online, earn money online, fast money online", :name => "keywords"}/
    %meta{:content => "Are You Looking for a Way to Make Money? Try Afillio! Simply Sign Up, Select a Product, and Sell to Anyone for Commission.", :name => "description"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://js.stripe.com/v3/"}
    = favicon_link_tag asset_path('afillio-logo.svg')
    = favicon_link_tag asset_path('afillio-logo.png'), rel: 'apple-touch-icon', type: 'image/png'
    %title
      = content_for?(:title) ? yield(:title) : "Afillio"
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/messages'
    = render 'layouts/header'
    - if current_page?(root_path)
      .mb-4
        = render 'layouts/welcome'
    .container
      %p
      = yield
    = render 'layouts/footer'
