!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "afilliate marketing, advertising, sell, products", :name => "keywords"}/
    %meta{:content => "Want to make sales simply and efficiently? List products on Afillio and allow anyone to sell them.", :name => "description"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://js.stripe.com/v3/"}
    = favicon_link_tag asset_path('afillio-logo.svg')
    = favicon_link_tag asset_path('afillio-logo.png'), rel: 'apple-touch-icon', type: 'image/png'
    %title
      = content_for?(:title) ? yield(:title) : "Afillio"
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
    = render 'layouts/footer'
